# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^backend/app/email-templates/build/.*
  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: bash -c 'cd backend && uv run ruff check --force-exclude --fix --exit-non-zero-on-fix'
        require_serial: true
        language: system
        types: [python]
        pass_filenames: false

      - id: local-ruff-format
        name: ruff format
        entry: bash -c 'cd backend && uv run ruff format --force-exclude'
        require_serial: true
        language: system
        types: [python]
        pass_filenames: false
